<h1>New Form</h1>
<form method="POST" action="/new">
  <input type="text" name="name" placeholder="name" />
  <input type="text" name="message" placeholder="message" />
  <button type="submit">Submit</button>
</form>
